/* Update the App.css file */

.app {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

.counter,
.timer {
	text-align: center;
	padding: 20px;
	border-radius: 8px;
	width: 200px;
	margin: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.138);
}

.timer.running {
	background-color: lightgreen;
}

button {
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
}

button:hover {
	background-color: #45a049;
}

p {
	color: red;
	font-weight: bold;
	margin-top: 10px;
}